*
{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
  font-family: "Myriad";
  src: url('Fonts/MyriadPro-Regular.otf'),
  url('Fonts/MyriadPro-Regular.otf'); /* IE */
}

html
{
	height: 100%;
  font-family: "Myriad";
}

body
{
	height: 100%;
	background: #eff1f4;
  font-family: "Myriad";
}

/* Viewports */

.row::after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

[class*="col-"]
{
  float: left;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* End of Viewports */

.body-holder {
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

.header {
  text-align: right;
  font-family: "Myriad";
  color: #233d91;
  font-size: 15px;
  padding: 1.5%;
  background-color: #1a1a1a;
}

.header h1 {
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
  font-size: 14px;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav h2 {
  text-align: center;
  color: white;
  padding: 5%;
  margin-bottom: 5%;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 20px;
}

.borderTop {
  border-top: 1px solid rgba(140, 140, 140, 0.15);
}

.sidenav a {
  border-bottom: 1px solid rgba(140, 140, 140, 0.15);
  padding: 5%;
  text-decoration: none;
  font-family: "Myriad";
  font-size: 15px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.sidenav a:hover, .offcanvas a:focus{
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
}

/* Mobile Version */
@media screen and (max-width:680px) {
  .sidenav {
    position: absolute;
    width: 100%;
    height: 10%;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .sidenav a {
    font-size: 14px;
    padding: 2%;
    margin-bottom: 0px;
  }
  .body-holder {
    margin-left: 0%;
    width: 100%;
  }

  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon
  {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px)
{
  .sidenav {
    position: relative;
    width: 100%;
    height: 10%;
  }

  .sidenav a {
    font-size: 14px;
    padding: 2%;
  }

  .body-holder {
    margin-left: 0%;
    width: 100%;
  }

  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon
  {
    position: relative;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li
  {
    float: none;
    display: inline-block;
  }
  ul.topnav.responsive li a
  {
    display: inline-block;
    text-align: left;
  }
}
