.selection {
	margin: 0 auto;
  width: 100%;
  height: 93%;
}
.leftscreen {
  background-image: url(../images/Hidden-Trace-Subdivision-Neighborhood-Shreveport-LA-img4-large.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: block;
  height: 100%;
  filter: grayscale(75%) blur(1px);
  transition: 0.5s;
}
.leftscreen:hover {
  filter: none;
}
.leftscreen:hover img{
}
.leftscreen img {
  padding-top: 8%;
  margin: auto;
  margin-right: 8%;
  width: 30%;
  display: block;
  filter: none;
}
.rightscreen {
  background-image: url(../images/XDEvillage2.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: block;
  height: 100%;
  filter: grayscale(75%) blur(1px);
  transition: 0.5s;
}
.rightscreen:hover {
  filter: none;
}
