.selection {
	margin: 0 auto;
  width: 100%;
  height: 93%;
	overflow: hidden;
}
.leftscreen {
  background-image: url(../images/gastonia-new-home-subdivision.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
	background-attachment: fixed;
  margin: 0;
  display: inline-block;
  height: 100%;
  transition: 0.5s;
	float: right;
}

.rightscreen {
  background-image: url(../images/iStock_000006650982_Medium.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;
  margin: 0;
  display: inline-block;
  height: 100%;
  transition: 0.5s;
}
.rightscreen img {
  padding-top: 8%;
  margin: auto;
  margin-left: 10%;
  width: 20%;
	display: block;
}
.selection:hover .leftscreen {
	width:0%;
}
.rightscreen:hover {
	width:100%;
	filter: none;
}

.leftscreen:hover {
	width:100% !important;
	filter: none;
}
.leftscreen:hover ~ .rightscreen {
	width:0%;
}
/*
.leftscreen:hover {

	width: 100%;
}
.leftscreen:hover img{

}
.leftscreen:hover + .rightscreen {
	width: 0;
}
.rightscreen:hover {
  filter: none;
	width: 100%;
}
.rightscreen:hover + .leftscreen {
} */
