.news-container {
  background-color: rgb(255, 244, 222);
  padding: 5% 7%;
  border: 2px solid blue;
}
.news-column {
  margin: 2% 2%;
  border: 2px solid red;
}
.read-more {
  margin: 2% 2%;
  border: 2px solid red;
}
.news-container .news-column h1 {
  font-size: 60px;
  font-variant: small-caps;
  color: rgb(78, 51, 0);
  margin-bottom: 5%;
}
.news-panel {
  border: 2px solid black;
  margin-left: 3%;
}
.news-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
