.copyright {
	background-color: #717070;
	color: #FFFFFF;
	height: 7%;
	z-index: 2;
	font-weight: lighter;
	z-index: 1000;
	overflow-y: hidden;
}
.left {
	height: 100%;
	z-index: 5;
}
.left div {
	text-align: center;
	padding: 2px 5px 5px 5px;
}

.center{
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	border-top-width: 2px;
	letter-spacing: 4px;
	height: 100%;
}
.right{
}
.right div {
	text-align: center;
	padding: 6px 5px 5px 5px;
}

@media (max-width: 320px) {

	[class*="col-"]	{
  	float: left;
  	width: 100%;
	}
	.copyright {
		height: auto;
	}
}
@media (min-width: 321px)and (max-width: 767px) {
	[class*="col-"]	{
  	float: left;
  	width: 100%;
	}
	.copyright {
		height: auto;
	}
	.left {
	}
	.partners {
		height: 30px;

	}
	.social {
		height: 10px;
	}
}
@media (min-width: 768px) and (max-width: 1096px) {
	[class*="col-"]	{
  	float: left;
  	width: 100%;
	}
	.copyright {
		height: auto;
	}
}
