.copyright {
	background-color: #717070;
	color: #FFFFFF;
	height: 7%;
	z-index: 2;
	font-weight: lighter;
	z-index: 1000;
	clear: both;
	padding: 0;
	margin: 0;
}
.left {
	z-index: 5;

}
.left div {
	text-align: center;
}
.copyright img {
	max-width: 100%;
	max-height: 100%;
}

.pad {
	padding-top: 2.5%;
}

.center{
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
	height: 100%;
	font-size: 14px;
}
.right{
}
.right div {
	text-align: center;
}

@media (max-width: 320px) {

	[class*="col-"]	{
  	float: left;
  	width: 100%;
	}
	.copyright {
		height: auto;
	}
	.partners {
		height: 30px;
	}
}
@media (min-width: 321px) and (max-width: 545px) {
	[class*="col-"]	{
  	float: left;
  	width: 100%;
	}
	.copyright {
		height: auto;
	}
	.left {
	}
	.partners {
		height: 30px;
	}
	.social {
		height: 10px;
	}
}
@media (min-width: 546px) and (max-width: 767px) {
	.left {
	}
	.center strong{

	}
}
@media (min-width: 768px) and (max-width: 1096px) {
	[class*="col-"]	{
  	float: left;
  	width: 100%;
	}
	.copyright {
		height: auto;
	}
}
