.sidenav a
{
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.nav li{
  top: 0;
  color: #fff;
  background: #0A0A0A;
  text-shadow: none;
  padding: 15px 40px;
  border-bottom: 1px solid #2F2E31;
}

.edit-button{
  width: 5%;
  height: 5%;
  position:absolute;
  z-index: 1000;
}
.mainsidenav, .logosidenav, .bgsidenav, .textsidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
/*.mainsidenav h2, .logosidenav h2, .bgsidenav h2, .textsidenav h2 {
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    color: #B3B3B3;
    border-bottom: 1px solid rgba(140, 140, 140, 0.2);
    font-size: 30px;
}
.mainsidenav a, .logosidenav a, .bgsidenav a, .textsidenav a {
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: 0.3s;
}*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
